body{
    background-color:black;
}
h1{
    display: flex;
    justify-content: center; /* Centering Horizantly */
    align-items: center;
    color: rgb(34, 96, 17);
}
h5{
    color: aliceblue;
}
p{
    color: azure;
}
.img_principal{
        width: 200px;
 
}
nav{
    padding: 1.5rem;
}
div{
    padding: 2rem;
}
.date{
    color: grey;
}
.foto{
    width:100%; 
    height:100%;
}